@import "./variables";

#top-nav-header {
  display: flex;
  #top-nav-left {
    flex: 1;
    display: flex;
    height: 40px;
    padding: 3px;
    #top-hamburger-nav,
    #search-icon-nav {
      display: flex;
      width: 35px;
      height: 35px;
      margin-left: 5px;
    }
    #top-hamburger-nav:hover,
    #search-icon-nav:hover {
      @include ease-out;
    }
    #search-input-nav {
      flex: 2;
      display: flex;
      visibility: hidden;
      input {
        height: 35px;
        padding-left: 15px;
        margin: auto 5px;
        border-radius: 2px;
        border: 1px solid $light-gray;
      }
      button {
        padding: 5px;
        width: 33px;
        height: 33px;
        border-radius: 2px;
        border: 1px solid $light-gray;
        color: #fff;
        background-color: $btn-color;
        font-weight: bold;
      }
    }
    img {
      width: 20px;
      margin: auto;
    }
  }
  #top-nav-center {
    flex: 3;
    display: flex;
    justify-content: center;
    
    li {
      margin: auto 5px;
      font-size: 0.7em;
      padding: 5px;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      transition: 0.5s ease-out;
      &:first-child{
        font-weight: 600;
      }
    }
   
    li:hover {
      @include ease-out;
    }
  }

  #top-nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    a {
      background-color: $btn-color;
      border: 1px solid #222283;
      color: #fff;
      text-decoration: none;
      text-align: center;
      min-width: 120px;
      margin: auto 10px 0 0;
      padding: 5px 15px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 0.65em;
    }
  }
  img {
    width: 33px;
  }
}
#title-header {
  display: flex;
  border-bottom: 1px solid #eee;
  span {
    align-self: flex-end;
    padding: 5px;
  }
  #date-nav {
    flex: 1;
  }
  #logo-nav {
    flex: 1;
  }
  #today-nav {
    flex: 1;
    text-align: end;
  }
}

#category-nav {
  border-bottom: 1px solid #111;
  align-items: center;
  justify-content:center;
  padding: 10px 5vw;
  ul {
   
    display: flex;
    justify-content: space-between;
    li {
      font-size: 0.8em;
      font-family: "Sarabun", sans-serif;
    }
  }
}
// Flash info header
#flash-info-header {
  height: 80px;
  border-bottom: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    width: 95%;
    height: 90%;
    display: flex;
    li {
      display: flex;
      flex: 1;
      align-items: center;
      
      &::after{   // gray separator elt
      content:'';
      @include vertical-separator; 
      margin-right: 12px;
      }
      &:last-child{ // hide unwanted separator after #flash-info-header div

        &::before{ // separator inside of #flash-info-dynamic, quickfix, bad solution
         content: "";
          transform: translateX(12vw); 
          @include vertical-separator;
        }
        &::after{ 
          display: none;
        }
      }

      .box1 {
        flex: 1;
      }
      .box2 {
        flex: 3;
      }
    }
  }
  #flash-info-dynamic { 
    display: flex;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;

    #stocks-wrapper {
      width: 45%; // same value as #weather-wrapper, allows for 5% margin in between the two
      margin: auto;
      padding: 3px;
  
      .stock-line{
        display: flex;
        justify-content: space-between;
       }
       
      
      span.stock-values{
          color: green;           
          }
      }
    
        #weather-wrapper{
          width: 45%;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
           
          // margin-left: 5%;
        }
        li:last-child {
          border: none;
        }
      }
    }

