// Colors
$light-gray: #eee;
$btn-color: #386C94;
$separator-color: #c0c0c0bb;


// mixins
@mixin ease-out {
  background-color: $light-gray;
  transition: 0.5s ease-out;
}


@mixin vertical-separator{
  border-left: 1.4px solid $separator-color;
  height: 93%;
  width:0px;
}


@mixin horizontal-separator{
  border-left: 1.4px solid $separator-color;
  height:0px;
  width: 90%;
}
